<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Load fonts from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!-- Set character encoding and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load CSS file -->
    <link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
    <title>Sign Up to Astreon</title>
</head>

<body>

    <!-- Header section -->
    <div class="Headercontainer">
        <div class="titleheader">
            <img class="logo" src="/Astreon/imgs/AstreonLogoNBG.png">
            <p class="header">Astreon Study Buddy</p>
        </div>
        <div class="logindiv">
            <!-- Button to login -->
            <input type="button" class="loginbutton" value="Login" onclick="window.location.href='{% url 'login' %}'" />
        </div>

    </div>


    <hr>

    <!-- Form to sign up -->
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <!-- Display form errors -->
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="signup-btn">Sign Up</button>
        </div>
    </form>
    
    <!-- Footer section -->
    <div class="footer">
        <p class="pFooter">About</p>
        <p class="pFooter">Vlog</p>
        <p class="pFooter">Careers</p>
        <p class="pFooter">Blog</p>
        <p class="pFooter">Help Centers</p>
        <p class="footerp">@ 2024 <strong>Astreon Study Buddy</strong></p>
    </div>
</body>
</html>

