<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Astreon</title>
    <link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
</head>

<body>

    <div class="Headercontainer">
        <div class="titleheader">
            <img class="logo" src="{% static 'imgs/AstreonLogoNBG.png' %}">
            <p class="header">Astreon Study Buddy</p>
        </div>
        <div class="logindiv">
            <a href="{% url 'account_login' %}"><input type="button" class="loginbutton" value="Login" /></a>
        </div>
    </div>

    <hr>

    <div class="form-container">
        <h1>Create an account</h1>
        <form method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}  <!-- This renders the form fields -->
            <div class="form-group">
                <button type="submit" class="signup-btn">Sign Up</button>
            </div>
        </form>
    </div>

    <div class="footer">
        <p class="pFooter">About</p>
        <p class="pFooter">Vlog</p>
        <p class="pFooter">Careers</p>
        <p class="pFooter">Blog</p>
        <p class="pFooter">Help Centers</p>
        <p class="footerp">@ 2024 <strong>Astreon Study Buddy</strong></p>
    </div>
</body>

</html>
