body{
    margin: 0;
    padding: 0;
}
.Headercontainer {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height:60px;
    margin-bottom: 2px;
    margin-top:0px;


}

hr.header-hr{
    border-top: 1px solid grey;
    
}
.logo{
    height:40px;
    width: 40px;
    margin-right:5px;
}
.header {
    margin-top:10px;
    margin-bottom:10px;
    font-size:10px;
    font-weight:bold;
}
.logindiv{
    margin-top:10px;
    display: flex;
    align-items: center; 
}
.SearchButton{
    height:30px;
    width: auto;
    padding-left: 8px;
    padding-right:8px;
    background-color: #F5F0E5;
    color:#A1824A;
    border:none;
    border-radius:10px;
}
.sessionbutton{
    font-size: 14px; 
    background-color: #009963;
    color: white;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    margin-left:32px;
    height: 40px;
}
.iconButton{
    height: 20px;
    width: 20px;
    margin-top:10px;
    margin-left:10px;

}
.profile{
    height:40px;
    width: 40px;
    border-radius: 20px;
    margin-right:40px;
    margin-left:32px;
}

.headerBox{
    border-radius: 12px;
    background: #F5F0E5;
    height:40px;
    width:40px;
    margin-left:20px;

}