.header{
    display: flex;
    padding: 1em 2%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(215, 213, 213);
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> feature/astreon-ai
    box-sizing: border-box;
}


.header div{
    display: flex;
    gap: 1em;
    align-items: center;
}

.brand_details--name{
    font-weight: 600;
    font-size: 1.25rem;
<<<<<<< HEAD
=======
}
.icon {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    object-fit: cover; /* Ensures image covers the entire area of the container */
    border-radius: 40px; /* Creates a circle */
>>>>>>> feature/astreon-ai
}