body {
  font-family: 'Lexend', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

button, input {
  font-family: 'Lexend', sans-serif;
}

.Headercontainer {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
}

.titleheader {
  margin-top: 10px;
  display: flex;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.logindiv {
  margin-top: 10px;
  display: flex;
  align-items: center; 
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 32px;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-left: 8px;
}

.sessionbutton {
  font-size: 14px; 
  background-color: #009963;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 32px;
  height: 40px;
}

.SearchButton {
  height: 30px;
  padding: 0 8px;
  background-color: #F5F0E5;
  border: none;
  border-radius: 10px;
}

.sidebar {
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: 320px 2fr;
  margin: 20px;
  column-gap: 10px;
}

.sidebarbutton {
  display: flex;
  border-radius: 8px;
  border: 1px solid #E8DECF;
  background: #FFF;
  height: 40px;
  padding: 10px;
  width: 310px;
  margin-bottom: 10px;
}

.sidebarbutton:hover {
  cursor: pointer;
  background-color: #E8DECF;
}

.sidebaricon {
  align-items: center;
  height: 25px;
  width: 25px;
}

.helpbuttons {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
  margin-right: 10px;
}

.helpbuttonsdiv {
  display: flex;
  align-items: center;
}

.phelpbuttons {
  display: inline-block;
  color: black;
}

.helplink {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.chat-box,
.chat-box * {
  box-sizing: border-box;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 695px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.chat-bot-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.depth-3-frame-0 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.back {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.depth-4-frame-0,
.depth-5-frame-0,
.depth-6-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
}

.depth-5-frame-0 {
  width: 288px;
  min-width: 288px;
}

.ai-chat {
  color: #1c170d;
  font-family: 'Lexend-Bold', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.astreon-chat-box {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}

.astreon {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.depth-5-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.depth-6-frame-0 {
  flex: 1;
}

.depth-7-frame-0 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.astreon2 {
  color: #1c170d;
  font-family: 'Lexend-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

._9-03-am {
  color: #a1824a;
  font-family: 'Lexend-Regular', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.depth-7-frame-1,
.startphrase {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.chatbox {
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 608px;
}

.depth-5-frame-02 {
  width: 876px;
  height: 48px;
  min-width: 160px;
  position: absolute;
  left: 16px;
  top: 12px;
}
.depth-6-frame-02 {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.depth-7-frame-02 {
  background: #f5f0e5;
  border-radius: 12px 0 0 12px;
  padding: 8px 8px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.type-a-message-or-upload-a-file-image {
  color: #a1824a;
  font-family: 'Lexend-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 370px;
}

.depth-7-frame-12 {
  background: #f5f0e5;
  border-radius: 0 12px 12px 0;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.depth-8-frame-02 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.image-to-text {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  align-items: center;
}

.image {
  width: 30px;
  height: 30px;
}

.depth-9-frame-0 {
  display: flex;
  position: relative;
}

.vector-0 {
  width: 30px;
  height: 30px;
}

.depth-9-frame-2 {
  display: flex;
  gap: 4px;
  align-items: center;
}

.depth-10-frame-0 {
  padding: 6px;
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.depth-11-frame-02 {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
}

.depth-12-frame-0 {
  width: 30px;
  height: 30px;
}

.depth-13-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
}

.depth-9-frame-1 {
  background: #009963;
}
