body {
    font-family: Lexend;
    background-color: #f7f7f7;
    height: 100vh;
    margin: 0;
}
button{
    font-family: Lexend;
}
input{
    font-family: Lexend;
}

.Headercontainer {
    margin-top:10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
}
.titleheader{
    margin-top:10px;
    display: flex;

}
.logo{
    height:40px;
    width: 40px;
    margin-right:5px;
}

.header {
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
    font-weight:bold;

}

.logindiv{
    margin-top:10px;
    display: flex;
    align-items: center; 
}
.profile{
    height:40px;
    width: 40px;
    border-radius: 20px;
    margin-right:40px;
    margin-left:32px;
}

.icon{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-left:8px;
}



.sessionbutton{
    font-size: 14px; 
    background-color: #009963;
    color: white;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    margin-left:32px;
    height: 40px;
}
.SearchButton{
    height:30px;
    width: auto;
    padding-left: 8px;
    padding-right:8px;
    background-color: #F5F0E5;
    color:#A1824A;
    border:none;
    border-radius:10px;
}
.sidebar{
    height:600px;


}

.grid{
    display:grid;
    grid-template-columns: 320px 2fr;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:20px;
    column-gap:10px;
}
.sidebarbutton{
    display: flex;
    border-radius: 8px;
    border: 1px solid #E8DECF;
    background: #FFF;
    height: 40px;
    padding-top:10px;
    width:310px;
    margin-bottom:10px;


}
.sidebaricon{
    align-items: center;
    height: 25px;
    width:25px;
}
.helpbuttons{
    height: 35px;
    width:35px;
    border-radius: 10px;
    margin-bottom:10px;
    display:inline-block;
    align-items: center;
    margin-right:10px;
}
.helpbuttonsdiv{
    display:flex;
    align-items: center;

}
.phelpbuttons{
    display: inline-block;
    align-items: center;
    color:black;
}
.helplink{
    display:flex;
    align-items: center;
}
a{
    text-decoration:none
}
.mainscreen{
    height:600px;
    display:grid;
    grid-template-rows:  100px 350px 150px;
}
.maintitle{
    background-color: aquamarine;
}
.calendar{
width:300px;

}
.progression{
    background-color: lightgreen;
}
/* calendar css */
.monthname{
    color: black;
}
.streak{
    width:600px;
    height: 900px;
}

.month {
    width: 100%;
    background: white;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .weekdays {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: white;
  }
  
  .weekdays li {
    display: inline-block;
    width: 11%;
    color: black;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: white;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 11%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #a1a24a;
    margin-left:5px;
  }
  
  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white }