<!DOCTYPE html>
<html lang="en">

<head>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/HomePage.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script></script>
    <title>Sign Up to Astreon</title>
</head>

<body>

    <div class="Headercontainer">
        <div class="titleheader">
            <img class="logo" src="/Astreon/imgs/AstreonLogoNBG.png">
            <p class="header">Astreon Study Buddy</p>
        </div>
        <div class="logindiv">
            <input class="SearchButton" type="text" placeholder="Search" id="search" name="search">
            <button class="sessionbutton">New Study Session</button>
            <a href=""><img class="icon"src="/Astreon/icon/notification.png"></a>
            <a href=""><img class="icon" src="/Astreon/icon/calendar.png"></a>
            <a href=""><img class="profile" src="/Astreon/imgs/ProfileDefault.jpg"></a>
        </div>

    

    </div>
    <hr>
    
    <div class="grid">
        <div class="sidebar">
            <p class="header">Astreon</p>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/AIStudyButton.png">AI Study</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/quizmebutton.png">Quiz Me</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/flashcardbutton.png">Flashcards</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/sessionsbutton.png">Sessions</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/sessionsbutton.png">Learning modes</button>
            <div class="helpbuttonsdiv">
                <a class="helplink" href=""><img class ="helpbuttons" src="/Astreon/icon/helpbutton.png"> <p class="phelpbuttons">Help</p></a>
            </div>
            <div class="helpbuttonsdiv">
                <a class="helplink" href=""><img class ="helpbuttons" src="/Astreon/icon/feedbackbutton.png"> <p class="phelpbuttons">Feedback</p></a>
            </div>
            
 
        </div>
            
        <div class="mainscreen">
            <div class="maintitle">
                <h2>Daily Progression</h2>
                <hr>
            </div>
            
            <div class="calendar">
                <div class="streak">
                    <div class="month">      
                        <ul>
                            <li> 
                                August<br>
                                <span style="font-size:18px">2021</span>
                            </li>
                        </ul>
                    </div>
                      
                      <ul class="weekdays">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                      </ul>
                      
                      <ul class="days">  
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li><span class="active">10</span></li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                      </ul>
                </div>
                <div class="reminder">

                </div>
            </div >
            <div class="progression">

            </div>
        </div>


    </div>
    