<!DOCTYPE html>
<html lang="en">

<head>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/HomePage.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script></script>
    <title>Sign Up to Astreon</title>
</head>

<body>

    <div class="Headercontainer">
        <div class="titleheader">
            <img class="logo" src="/Astreon/imgs/AstreonLogoNBG.png">
            <p class="header">Astreon Study Buddy</p>
        </div>
        <div class="logindiv">
            <input class="SearchButton" type="text" placeholder="Search" id="search" name="search">
            <button class="sessionbutton">New Study Session</button>
            <a href=""><img class="icon"src="/Astreon/icon/notification.png"></a>
            <a href=""><img class="icon" src="/Astreon/icon/calendar.png"></a>
            <a href=""><img class="profile" src="/Astreon/imgs/ProfileDefault.jpg"></a>
        </div>

    

    </div>
    <hr>
    
    <div class="grid">
        <div class="sidebar">
            <p class="header">Astreon</p>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/AIStudyButton.png">AI Study</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/quizmebutton.png">Quiz Me</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/flashcardbutton.png">Flashcards</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/sessionsbutton.png">Sessions</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/icon/sessionsbutton.png">Learning modes</button>
            <div class="helpbuttonsdiv">
                <a class="helplink" href=""><img class ="helpbuttons" src="/Astreon/icon/helpbutton.png"> <p class="phelpbuttons">Help</p></a>
            </div>
            <div class="helpbuttonsdiv">
                <a class="helplink" href=""><img class ="helpbuttons" src="/Astreon/icon/feedbackbutton.png"> <p class="phelpbuttons">Feedback</p></a>
            </div>
            
 
        </div>
            
        <div class="mainscreen">
            <div class="maintitle">
                <h1>Daily Progress</h1>
                <hr>
            </div>
            
            <div class="calendar">
                <div class="main-container">
                <div class="depth-frame-1">
                    <div class="depth-frame-2">
                    <div class="material-symbols-circle-outline">
                        <div class="vector"></div>
                    </div>
                    </div>
                    <div class="streak">
                    <div class="header2">
                        <div class="atoms-mouth">
                        <span class="text-streak">Streak</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="line">
                        <div class="atoms-week-dey">
                            <span class="text-mon">Mon</span>
                        </div>
                        <div class="atoms-week-dey-3">
                            <span class="text-tue">Tue</span>
                        </div>
                        <div class="atoms-week-dey-4">
                            <span class="text-wed">Wed</span>
                        </div>
                        <div class="atoms-week-dey-5">
                            <span class="text-thu">Thu</span>
                        </div>
                        <div class="atoms-week-dey-6">
                            <span class="text-fri">Fri</span>
                        </div>
                        <div class="atoms-week-dey-7">
                            <span class="text-sat">Sat</span>
                        </div>
                        <div class="atoms-week-dey-8">
                            <span class="text-sun">Sun</span>
                        </div>
                        </div>
                        <div class="line-9">
                        <div class="atoms-dey-number">
                            <span class="text-26">26</span>
                        </div>
                        <div class="atoms-dey-number-a">
                            <span class="text-27">27</span>
                        </div>
                        <div class="atoms-dey-number-b">
                            <span class="text-28">28</span>
                        </div>
                        <div class="atoms-dey-number-c">
                            <span class="text-29">29</span>
                        </div>
                        <div class="atoms-dey-number-d"><span class="text">30</span></div>
                        <div class="atoms-dey-number-e">
                            <span class="text-f">31</span>
                        </div>
                        <div class="atoms-dey-number-10">
                            <span class="text-11">1</span>
                        </div>
                        </div>
                        <div class="line-12">
                        <div class="atoms-dey-number-13">
                            <span class="text-14">16</span>
                        </div>
                        <div class="atoms-dey-number-15">
                            <span class="text-16">17</span>
                        </div>
                        <div class="atoms-dey-number-17">
                            <span class="text-18">18</span>
                        </div>
                        <div class="atoms-dey-number-19">
                            <span class="text-1a">19</span>
                        </div>
                        <div class="atoms-dey-number-1b">
                            <span class="text-1c">20</span>
                        </div>
                        <div class="atoms-dey-number-1d">
                            <span class="text-1e">21</span>
                        </div>
                        <div class="atoms-dey-number-1f">
                            <span class="text-20">22</span>
                        </div>
                        </div>
                        <div class="line-21">
                        <div class="atoms-dey-number-22">
                            <span class="text-23">23</span>
                        </div>
                        <div class="atoms-dey-number-24">
                            <span class="text-25">24</span>
                        </div>
                        <div class="atoms-dey-number-26">
                            <span class="text-27">25</span>
                        </div>
                        <div class="atoms-dey-number-28">
                            <span class="text-29">26</span>
                        </div>
                        <div class="atoms-dey-number-2a">
                            <span class="text-2b">27</span>
                        </div>
                        <div class="atoms-dey-number-2c">
                            <span class="text-2d">28</span>
                        </div>
                        <div class="atoms-dey-number-2e">
                            <span class="text-2f">29</span>
                        </div>
                        </div>
                        <div class="line-30">
                        <div class="atoms-dey-number-31">
                            <span class="text-32">30</span>
                        </div>
                        <div class="atoms-dey-number-33">
                            <span class="text-34">1</span>
                        </div>
                        <div class="atoms-dey-number-35">
                            <span class="text-36">2</span>
                        </div>
                        <div class="atoms-dey-number-37">
                            <span class="text-38">3</span>
                        </div>
                        <div class="atoms-dey-number-39">
                            <span class="text-3a">4</span>
                        </div>
                        <div class="atoms-dey-number-3b">
                            <span class="text-3c">5</span>
                        </div>
                        <div class="atoms-dey-number-3d">
                            <span class="text-3e">6</span>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="material-symbols-circle-outline-3f">
                    <div class="vector-40"></div>
                    </div>
                </div>
                <div class="depth-frame-41">
                    <div class="depth-frame-42">
                    <div class="streak-43">
                        <div class="header-44">
                        <div class="atoms-mouth-45">
                            <span class="text-46">Reminder</span>
                        </div>
                        </div>
                        <div class="grid-47">
                        <div class="line-48">
                            <div class="atoms-week-dey-49">
                            <span class="text-4a">Tue</span>
                            </div>
                            <div class="atoms-week-dey-4b">
                            <span class="text-4c">Thu</span>
                            </div>
                            <div class="atoms-week-dey-4d">
                            <span class="text-4e">Fri</span>
                            </div>
                            <div class="atoms-week-dey-4f">
                            <span class="text-50">Sat</span>
                            </div>
                            <div class="atoms-week-dey-51">
                            <span class="text-52">Sun</span>
                            </div>
                        </div>
                        <div class="line-53">
                            <div class="atoms-dey-number-54">
                            <span class="text-55">26</span>
                            </div>
                            <div class="atoms-dey-number-56">
                            <span class="text-57">27</span>
                            </div>
                            <div class="atoms-dey-number-58">
                            <span class="text-59">28</span>
                            </div>
                            <div class="atoms-dey-number-5a">
                            <span class="text-5b">29</span>
                            </div>
                            <div class="atoms-dey-number-5c">
                            <span class="text-5d">30</span>
                            </div>
                            <div class="atoms-dey-number-5e">
                            <span class="text-5f">31</span>
                            </div>
                            <div class="atoms-dey-number-60">
                            <span class="text-61">1</span>
                            </div>
                        </div>
                        <div class="line-62">
                            <div class="atoms-dey-number-63">
                            <span class="text-64">16</span>
                            </div>
                            <div class="atoms-dey-number-65">
                            <span class="text-66">17</span>
                            </div>
                            <div class="atoms-dey-number-67">
                            <span class="text-68">18</span>
                            </div>
                            <div class="atoms-dey-number-69">
                            <span class="text-6a">19</span>
                            </div>
                            <div class="atoms-dey-number-6b">
                            <span class="text-6c">20</span>
                            </div>
                            <div class="atoms-dey-number-6d">
                            <span class="text-6e">21</span>
                            </div>
                            <div class="atoms-dey-number-6f">
                            <span class="text-70">22</span>
                            </div>
                        </div>
                        <div class="line-71">
                            <div class="atoms-dey-number-72">
                            <span class="text-73">23</span>
                            </div>
                            <div class="atoms-dey-number-74">
                            <span class="text-75">24</span>
                            </div>
                            <div class="atoms-dey-number-76">
                            <span class="text-77">25</span>
                            </div>
                            <div class="atoms-dey-number-78">
                            <span class="text-79">26</span>
                            </div>
                            <div class="atoms-dey-number-7a">
                            <span class="text-7b">27</span>
                            </div>
                            <div class="atoms-dey-number-7c">
                            <span class="text-7d">28</span>
                            </div>
                            <div class="atoms-dey-number-7e">
                            <span class="text-7f">29</span>
                            </div>
                        </div>
                        <div class="line-80">
                            <div class="atoms-dey-number-81">
                            <span class="text-82">30</span>
                            </div>
                            <div class="atoms-dey-number-83">
                            <span class="text-84">1</span>
                            </div>
                            <div class="atoms-dey-number-85">
                            <span class="text-86">2</span>
                            </div>
                            <div class="atoms-dey-number-87">
                            <span class="text-88">3</span>
                            </div>
                            <div class="atoms-dey-number-89">
                            <span class="text-8a">4</span>
                            </div>
                            <div class="atoms-dey-number-8b">
                            <span class="text-8c">5</span>
                            </div>
                            <div class="atoms-dey-number-8d">
                            <span class="text-8e">6</span>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="material-symbols-circle-outline-8f">
                    <div class="vector-90"></div>
                    </div>
                </div>
                </div>
            </div >
            <div class="progression">
                
                <h1>Session Progression</h1>
            </div>
            <div class="progressionbar">
                <span class="progresstitle">Dimensions of The Cybersecurity Cube</span>
                <div class="progress-bar-container">
                    <div class="progress-bar">20%</div>
                </div>


                          <div class="weui-arrow-filled"><div class="vector1"></div>
            </div>
        </div>


    </div>
    