<!DOCTYPE html>
<html lang="en">

<head>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/session.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script></script>
    <title>Sign Up to Astreon</title>
</head>

<body>

    <div class="Headercontainer">
        <div class="titleheader">
            <img class="logo" src="/Astreon/imgs/AstreonLogoNBG.png">
            <p class="header">Astreon Study Buddy</p>
        </div>
        <div class="logindiv">
            <input class="SearchButton" type="text" placeholder="Search" id="search" name="search">
            <button class="sessionbutton">New Study Session</button>
            <a href=""><img class="icon"src="/Astreon/icon/notification.png"></a>
            <a href=""><img class="icon" src="/Astreon/icon/calendar.png"></a>
            <a href=""><img class="profile" src="/Astreon/imgs/ProfileDefault.jpg"></a>
        </div>

    

    </div>
    <hr>
    
    <div class="grid">
        <div class="sidebar">
            <p class="header">Astreon</p>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/AIStudyButton.svg">AI Study</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/quizmebutton.svg">Quiz Me</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/flashcardbutton.svg">Flashcards</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/sessionsbutton.svg">Sessions</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/learnmodebutton.svg">Learning modes</button>
            <button class="sidebarbutton"><img class="sidebaricon" src="/Astreon/svg/coursesubject.svg">Course Subject</button>
            <div class="helpbuttonsdiv">
                <a class="helplink" href="">
                    <div  class="helpframe">
                        <img class ="helpbuttons" src="/Astreon/svg/helpbutton.svg"> <p class="phelpbuttons">
                    </div>
                    <p class="phelpbuttons">Help</p>
                </a>
            </div>
            <div class="helpbuttonsdiv">

                <a class="helplink" href="">
                    <div class="helpframe">
                        <img class ="helpbuttons" src="/Astreon/svg/feedbackbutton.svg">
                    </div>
                    <p class="phelpbuttons">Feedback</p> 
                </a>
            </div>
            
 
        </div>
            
        <div class="mainscreen">
            <h1>Sessions</h1>
            <hr>

           <div class="sessionframe">
            <div class="sessionsubject">

            </div>
            <div class="sessiontypeframe">

            </div>
           </div>
        </div>


    </div>
    